footer.contentinfo(role="contentinfo")
	.contentinfo-container
		small Copyright &copy; 2006&ndash;2013 #{ name }
		p <a href="http://twitter.com/kennethormandy">@kennethormandy</a> &amp; <a href="mailto:#{ email }?subject=Hello Kenneth">hello@kennethormandy.com</a>
		p
			a(href="http://harp.io", title="Harp, static site generator and asset pipeline framework.") Built with Harp
script(type="text/javascript", src="/js/main.min.js")