header.header(role="banner")
	!= partial("nav")
	.header-container
		a#nav-toggle.nav-toggle(href="#", aria-hidden="false") Menu
		a.flag.logo(href="/")
			.flag-image
				img.logo-monogram(src="/images/monogram.svg", alt="")
			.flag-body
				h2.logo-name #{ name }