nav#nav.nav(role="navigation")
	ul.nav-list
		li.nav-list-item.nav-list-item-skip
			a.nav-list-item-link.nav-skip(href="#main") Skip to content
		li.nav-list-item
			a.nav-list-item-link(href="/") Home
		li.nav-list-item
			a.nav-list-item-link(href="/portfolio") Portfolio
		//-
			li.nav-list-item
				a.nav-list-item-link(href="/journal") Journal
		li.nav-list-item
			a.nav-list-item-link(href="/about") About
		li.nav-list-item
			a.nav-list-item-link(href="/contact") Contact